%h1 Courses
- if @courses.present?
  = paginate @courses
  %section.content
    .row
      - @courses.each do |course|      
        .col-md-4
          .box.box-widget
            .box-header.with-border
              .user-block
                = image_tag 'user2-160x160.jpg', class: 'img-circle', alt: 'User Image'
                %span.username
                  %a{:href => "#"} Jonathan Burke Jr.
                %span.description Shared publicly - 7:30 PM Today
              .box-tools
                %button.btn.btn-box-tool{"data-toggle" => "tooltip", :title => "Mark as read"}
                  %i.fa.fa-circle-o
                %button.btn.btn-box-tool{"data-widget" => "collapse"}
                  %i.fa.fa-minus
                %button.btn.btn-box-tool{"data-widget" => "remove"}
                  %i.fa.fa-times
            .box-body
              = image_tag course.picture.thumb, class: 'img-responsive pad', alt: 'Photo'
              %h2= course.title
              .row
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  = link_to 'Edit', edit_users_course_path(course), class: 'btn btn-block btn-info'
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  = link_to 'Delete', users_course_path(course), method: :delete, class: 'btn btn-block btn-info'
  = paginate @courses
- else
  %h2 No courses
