.box-header.with-border
  %h1.box-title Received homeworks
%table.table.table-bordered
  %tbody#subscribed-courses-list
    %tr
      %th Lesson
      %th Student name
      %th Content
    - @homeworks.each do |homework|
      %tr{id: "received-homework-#{homework.id}"}
        %td= homework.lesson.title
        %td= "#{homework.user.first_name} #{homework.user.last_name}"
        %td= link_to 'Content', users_lesson_homework_path(homework.lesson, homework)
