= simple_form_for [:course, lesson] do |f|
  = f.input :title
  = f.input :description, as: :text
  = f.input :position
  = f.input :picture, as: :file
  = f.input :summary, as: :text
  = f.input :homework, as: :text

  = f.submit 'Save'
