%h1= "\"#{current_course.title}\"/Lessons"
.row
  - if @lessons.present?
    .col-xs-2.col-sm-2.col-md-2.col-lg-2
      - if is_asc_order?
        = link_to 'Set desc order', course_lessons_path(order: 'desc'), class: 'btn btn-block btn-info'
      - else  
        = link_to 'Set asc order', course_lessons_path, class: 'btn btn-block btn-info'
    .col-xs-2.col-sm-2.col-md-2.col-lg-2
      = link_to 'Add a new lesson',  new_course_lesson_path, class: 'btn btn-block btn-info'
%section.content  
  - if @lessons.present?
    .row
      - @lessons.each do |lesson|      
        .col-md-4
          .box.box-widget
            .box-header.with-border
              .user-block
                = image_tag current_course.picture.thumb, class: 'img-circle', alt: 'Course Image'
                %span.username
                  = lesson.title
                %span.description "Created at #{lesson.created_at}"
              .box-tools
                %button.btn.btn-box-tool{"data-widget" => "collapse"}
                  %i.fa.fa-minus
                %button.btn.btn-box-tool{"data-widget" => "remove"}
                  %i.fa.fa-times
            .box-body
              = image_tag lesson.picture.thumb, class: 'img-responsive pad', alt: 'Lesson Image'
              
              %span Description:
              %p= lesson.description

              %span Summary:
              %p= lesson.summary

              %span Homework:
              %p= lesson.homework

              .row{id: "lesson_buttons-#{lesson.attributes['id']}"}
                .col-xs-6.col-sm-6.col-md-6.col-lg-6
                  = link_to 'See', '#', class: 'btn btn-block btn-info'

                - if lesson.is_visible?
                  = render 'lessons/unvisible_butt', lesson: lesson
                - else
                  = render 'lessons/visible_butt', lesson: lesson
  - else
    %h2 No lessons
