%h1= @lesson.title

= image_tag @lesson.picture.thumb_323x323, class: 'img-responsive pad', alt: 'Lesson Image'

%span Description
%p= @lesson.description

%span Summary
%p= @lesson.summary

%span Homework
%p= @lesson.homework

- if current_user.participate_in?(@lesson.course)
  %a.btn.btn-primary{"data-toggle" => "modal", :href => "#homework-modal"} Send homework
  = render 'homeworks/form', lesson: @lesson
