.row
  .col-sm-6.col-md-6.col-lg-6
    = simple_form_for  :lesson, url: users_lessons_path(lesson, course_id: current_course.id) do |f|
      .box-body
        .form-group
          = f.input :title, placeholder: 'Enter title', input_html: { class: 'form-control' }
        .form-group
          = f.input :description, as: :text, placeholder: 'Enter a short description of your new lesson', input_html: { class: 'form-control', style: 'height: 140px' }
        .form-group
          .row
            .col-xs-6.col-sm-4.col-md-4.col-lg-3
              = f.input :position, as: :integer, input_html: { class: 'form-control' }
        .form-group
          = f.input :picture, as: :file
        .form-group
          = f.input :summary, as: :text, placeholder: 'Compose a short summary about your new lesson', input_html: { class: 'form-control', style: 'height: 140px' }
        .form-group
          = f.input :homework, as: :text, placeholder: 'Compose homework for your students', input_html: { class: 'form-control', style: 'height: 140px' }
        .form-group
          = f.input :meeting_datetime, as: :datetime
        = f.submit 'Save', class: 'btn btn-primary'
