%h1 Courses
= link_to 'New course', new_course_path
- if @courses.present?
  %ul
    - @courses.each do |course|
      %li= image_tag course.picture.thumb
      %li
        = course.title
        = link_to 'Edit course', edit_course_path(course)
        = link_to 'Delete course', course_path(course), method: :delete, data: {confirm: 'Sure'}
  = paginate @courses
- else
  %h2 No courses
  