%header.main-header
  = link_to root_path, class: 'logo' do
    %span.logo-mini Rubyboost
    %span.logo-lg Rubyboost
  %nav.navbar.navbar-static-top{:role => "navigation"}
    %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
      %span.sr-only Toggle navigation
    .navbar-custom-menu
      %ul.nav.navbar-nav
        - if user_signed_in?
          %li.user.user-menu
            = link_to users_courses_path do
              = image_tag 'user2-160x160.jpg', class: 'user-image', alt: 'User image'
              %span.hidden-xs= current_user.email
          %li.user.user-menu
            = link_to destroy_user_session_path, method: :delete, class: 'btn btn-warning' do
              %span.hidden-xs Sign Out
        - else
          %li.user.user-menu
            = link_to new_user_registration_path, class: 'btn btn-success' do
              %span.hidden-xs Sign Up
          %li.user.user-menu
            = link_to new_user_session_path, class: 'btn btn-success' do
              %span.hidden-xs Sign In
