%aside.main-sidebar
  %section.sidebar
    - if user_signed_in?
      .user-panel
        .pull-left.image
          = image_tag 'user2-160x160.jpg', class: 'img-circle', alt: 'User Image'
        .pull-left.info
          %p= current_user.email
          %a{:href => "#"}
            %i.fa.fa-circle.text-success
            Online
    %form.sidebar-form{:action => "#", :method => "get"}
      .input-group
        %input.form-control{:name => "q", :placeholder => "Search...", :type => "text"}/
        %span.input-group-btn
          %button#search-btn.btn.btn-flat{:name => "search", :type => "submit"}
            %i.fa.fa-search
    %ul.sidebar-menu
      %li.header MAIN NAVIGATION
      %li.active
        = link_to root_path do
          %i.fa.fa-dashboard
          %span Dashboard
          %i.fa.fa-angle-left.pull-right
      %li
        = link_to users_courses_path do
          %i.fa.fa-files-o
          %span Courses
      - if user_signed_in?
        %li
          = link_to 'New course', new_users_course_path
